#planetsRowTwo {
    margin-top: 4%;
    margin-left: 4%;
}

#planetsRowOne {
    margin-top: 4%;
    margin-left: 4%;
}

#planet:hover {
    transform: scale(1.1);
    border: 1px solid grey;
}

#planet {
    margin-bottom: 5%;
}

#school:hover {
    transform: scale(1.1);
    border: 1px solid grey;
    
}

#game:hover {
    transform: scale(1.1);
    border: 1px solid grey;
}

#shop:hover {
    transform: scale(1.1);
    border: 1px solid grey;
}

#friend:hover {
    transform: scale(1.1);
    border: 1px solid grey;
}
